<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd

        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="myService" class="com.aop.MyService"/>

    <bean id="myAspect" class="com.aop.xml_schema.MyCheck"/>



    <aop:config proxy-target-class="true">

        <aop:aspect ref="myAspect">
            <aop:pointcut id="myPointcut" expression="execution(* com.aop.*.*(..))"/>
            <aop:before method="check" pointcut-ref="myPointcut"/>
        </aop:aspect>




    </aop:config>

</beans>