<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myService" class="com.aop.MyService"/>

    <bean id="myBeforeAdvice" class="com.aop.proxy_factory_bean.MyBeforeAdvice"/>

    <bean id="myProxy" class="org.springframework.aop.framework.ProxyFactoryBean">

        <property name="target" ref="myService"/>

        <property name="interceptorNames">
            <list>
                <value>myBeforeAdvice</value>
            </list>
        </property>
    </bean>
</beans>